<?xml version='1.0' encoding='utf-8'?>
<widget
        id="com.phonegap.basicmathgame"
        version="1.0.0"
        xmlns="http://www.w3.org/ns/widgets"
        xmlns:android = "http://schemas.android.com/apk/res/android"
        xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Daily Activities</name>
    <description>
       Add all your daily activities here and use all necessary services.
    </description>
    <author email="yasiryasiryasi@gmail.com" href="#">
        Gods1son
    </author>
    <preference name="orientation" value="portrait"/>
    <preference name="permissions" value="none"/>
    <preference name="KeepRunning" value="false"/>
    <content src="index.html" />
    <icon height="48" src="android-icon-48x48.png" width="48"/>

    <gap:config-file platform="android" parent="/manifest/application">
    <activity android:launchMode="singleInstance" />
</gap:config-file>
</widget>
